#schoolH1 {
	display: inline;
}

#schoolRecords {
	max-height: 500px;
	width: 30%;
	overflow-y: scroll;
	float: left;
}

#recordResult {
	max-height: 500px;
	margin-left: 20%;
	width: 50%;
	overflow-x: scroll;
	overflow-y: scroll;
	float: right;
}
